@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap");

/* Typography */

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

#main-header h1 > span {
  font-weight: 200;
}

.flex-title button {
  font-size: 14px;
  font-weight: 700;
}

.full-card span,
p,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #6c6c6c;
}

#send-message {
  text-transform: uppercase;
  font-weight: 700;
}

h3 {
  text-transform: uppercase;
  font-size: 14px;
}

.full-card a {
  text-decoration: none;
}

/* Colors */

#main-header {
  background-color: #7477bf;
  grid-area: header;
}

.nav-link path {
  fill: rgba(255, 255, 255, 0.6);
}

#main-header,
#notification-container p,
.nav-link-active path {
  color: #fff;
  fill: #fff;
}

.recent-activity svg,
.full-card a {
  color: #7377bf;
  fill: #7377bf;
}

#main-sidebar {
  background-color: #4d4c72;
  grid-area: sidebar;
}

.nav-link-active:after {
  content: "";
  height: 22px;
  width: 43px;
  position: absolute;
  background: #81c98f;
  border-radius: 5px;
  bottom: -15px;
}

#main-content {
  grid-area: content;
}

#close-notification,
#main-header button {
  border: none;
  background-color: transparent;
  align-items: center;
}

#main-header button {
  display: inline-flex;
  border-radius: 32px;
}

#main-header button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.search-container {
  background-color: #fff;
}

.search-glass {
  fill: #7477bf;
}

#dash-header {
  background-color: #fbfbfb;
}

/* Layout */

.grid-layout {
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  grid-template-areas:
  "header"
  "content";
}

.flex-title,
#main-header,
#main-content > header {
  display: flex;
}

#dash-header {
  flex-direction: column;
  padding: 0 10px 20px;
  border-bottom: 1px solid #c4c4c4;
}

.search-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  height: 48px;
}

.flex-title {
  flex-direction: column;
}

.flex-title button {
  color: #9a9a9a;
  background-color: transparent;
  padding: 7px 12px;
  border: none;
  outline: none;
  border-radius: 30px;
}

.flex-title .select-button-active {
  color: #fff;
  background-color: #81c98f;
}

.flex-title .select-buttons-container {
  padding: 10px 0 20px;
}

#notifications {
  padding: 10px;
  border-radius: 20px;
}

.search-container svg {
  height: 100%;
}

#notification-container {
  margin: 10px;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #7377bf;
  color: #fff;
  display: flex;
  flex-direction: row;
}

#notification-container p {
  margin: 0;
  font-size: 14px;
}

#close-notification {
  margin-left: auto;
}

#close-notification svg g {
  fill: #fff;
}

#notification-container p > span {
  margin-right: 5px;
  font-weight: 700;
}

#close-notification svg {
  height: 15px;
}

textarea {
  resize: none;
}

.full-card textarea,
.full-card input[type="search"] {
  border: 1px solid #ddd;
  color: #b5b5b5;
  border-radius: 6px;
  background-color: #fbfbfb;
  padding: 15px;
  margin-bottom: 17px;
  width: 100%;
}

#send-message {
  width: 100%;
  padding: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #7477bf;
  color: #fff; 
  transition: background-color .3s ease-out;
}

#send-message:hover {
  cursor: pointer;
}

#send-message:active {
  background-color: #696bac;
}

#dash-search {
  width: 100%;
  border: none;
  outline: none;
  flex: 1;
}

#main-header {
  padding: 0 20px;
  align-items: center;
}

#main-header #notifications {
  margin-left: auto;
}

.vdivider {
  border-left: 1px solid #4d4c72;
  height: 40px;
  margin: 0 10px;
}

#main-sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
}

#main-sidebar nav {
  width: 100%;
  height: 100%;
}

#main-sidebar nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  height: 100%;
  display: flex;
  align-items: center;
}

#main-content {
  height: calc(100% + 75px);
}

.full-card {
  padding: 10px;
}

.stats-container {
  display: flex;
  flex-direction: column;
}

.stats-container p,
.stats-container h4 {
  margin: 0;
}

.stats-container h4 {
  color: #7377bf;
  font-size: 18px;
}

.stats-container p {
  font-size: 45px;
  font-weight: 200;
}

.social-icon {
  width: 53px;
  height: 53px;
  margin: auto 0;
  background-color: #7377bf;
  padding: 10px;
  border-radius: 40px;
}

.social-icon svg {
  margin: auto;
  height: 30px;
}

.stats-container path {
  fill: #fff;
}
.social-stat {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-column-gap: 10px;
  padding: 20px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  background-color: #fbfbfb;
  margin-bottom: 10px;
}

#profile {
  padding: 0;
}

.user-name {
  display: none;
}

.double-card {
  border: 2px solid #c4c4c4;
  border-left: none;
  border-right: none;
}

.double-card:nth-child(6) {
  border-top: none;
}

.card-divider {
  border-bottom: 1px solid #c4c4c4;
  width: 100%;
}

.recent-activity,
.new-members {
  padding: 0;
  list-style: none;
}

.recent-activity li,
.new-members li {
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  display: grid;
}

.new-members li:last-child,
.recent-activity li:last-child {
  border-bottom: none;
}

.new-members li {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  "name"
  "time"
  "email";
}

.recent-activity li {
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
  "name more"
  "time more";
}

.recent-activity li > img,
.new-members li > img {
  display: none;
  max-width: 100%;
  border-radius: 100%;
  grid-area: image;
}

.recent-activity li > p,
.new-members li > p {
  margin: 0;
  grid-area: name;
  padding-bottom: 6px;
}

.recent-activity li > span,
.new-members li > span {
  grid-area: time;
  font-size: 14px;
}

.recent-activity li > svg {
  grid-area: more;
  height: 45px;
  margin: auto 0;
}

.recent-activity li > a,
.new-members li > a {
  grid-area: email;
}

/* Images and SVGs */

#notifications svg {
  height: 20px;
}

#profile img {
  height: 50px;
  border-radius: 32px;
}

#main-sidebar svg {
  height: 40px;
}

/* Transitions and animations */

#notifications {
  transition: transform 0.2s cubic-bezier(0.53, 0.49, 0.6, 1.54);
}

#notifications:hover {
  transform: rotate(-20deg);
}

/* Media queries */

@media (min-width: 500px) {
  #dash-header {
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  #dash-header > h2 {
    margin: 0px;
    padding: 20px;
    background-color: #fff;
    margin-bottom: -1px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #c4c4c4;
  }

  .search-container {
    width: 300px;
    margin-left: auto;
    margin-right: 10px;
  }

.flex-title {
  flex-direction: row;
  justify-content: space-between;
}

  .recent-activity li > img,
  .new-members li > img {
    display: block;
  }

  .recent-activity li {
    grid-template-columns: 45px 1fr auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "image name more"
    "image time more";
  }

  .new-members li {
    grid-template-columns: 45px 1fr auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "image name time"
    "image email .";
  }

  .recent-activity li > span,
  .recent-activity li > p,
  .new-members li > a,
  .new-members li > p {
    padding-bottom: 2px;
    padding-left: 9px;
  }
}

@media (min-width: 768px) {
  .grid-layout {
    grid-template-columns: 70px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas:
    "header header"
    "sidebar content";
  }

  .user-name {
    display: inline;
    margin-left: 10px;
    color: #fff;
  }

  #main-sidebar {
    position: relative;
    padding: 10px;
    text-align: center;
    height: 100%;
    width: 100%;
  }

  #main-sidebar a {
    margin-top: 40px;
  }

  .nav-link {
    height: 45px;
  }

  #main-content {
    height: auto;
  }

  .wrapper {
    padding: 10px;
  }

  .double-card {
    border: 1px solid #c4c4c4;
    border-left: none;
    border-right: none;
  }

  #profile {
    padding: 0 8px 0 2px;
  }

  #main-sidebar nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  #main-sidebar svg {
    height: 30px;
  }

  .nav-link-active:after {
    height: 75px;
    width: 22px;
    bottom: auto;
    left: -17px;
  }
}

@media (min-width: 900px) {
  .stats-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding: 0;
    width: 954px;
    margin: 0 auto;
  }

  .full-card {
    padding: 20px;
    align-self: center;
    flex: 1;
  }

  .double-card {
    display: flex;
  }

  .card-divider {
    border-bottom: none;
    width: 0;
    border-right: 1px solid #c4c4c4;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 1130px;
  }

}
