@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap");

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

select,
button {
  cursor: pointer;
}

/* Typography */

#main-header h1 > span {
  font-weight: 200;
}

.flex-title button {
  font-size: 14px;
  font-weight: 700;
}

.full-card span,
p,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #6c6c6c;
}

#cancel-settings,
#save-settings,
#send-message {
  text-transform: uppercase;
  font-weight: 700;
}

h3 {
  text-transform: uppercase;
  font-size: 14px;
}

.full-card a {
  text-decoration: none;
}

/* Colors */

#main-header {
  background-color: #7477bf;
  grid-area: header;
}

.nav-link path {
  fill: rgba(255, 255, 255, 0.6);
}

#main-header,
#notification-container p,
.nav-link-active path {
  color: #fff;
  fill: #fff;
}

.autocomplete-container,
.dropdown {
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.3);
}

.snackbar {
  position: fixed;
  background-color: #7377bf;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  bottom: 90px;
  width: 90%;
  left: 0;
  right: 0;
  transition: 0.3s;
  z-index: 1500;
}

.error-snack {
  background-color: #bb4430;
}

.success-snack {
  background-color: #60992d;
}

.recent-activity svg,
.full-card a {
  color: #7377bf;
  fill: #7377bf;
}

#main-sidebar {
  background-color: #4d4c72;
  grid-area: sidebar;
}

.nav-link-active:after {
  content: "";
  height: 22px;
  width: 43px;
  position: absolute;
  background: #81c98f;
  border-radius: 5px;
  bottom: -15px;
}

#main-content {
  grid-area: content;
}

#close-notification,
#main-header button {
  border: none;
  background-color: transparent;
  align-items: center;
}

#main-header button {
  display: inline-flex;
  border-radius: 32px;
}

#main-header button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.search-container {
  background-color: #fff;
}

.search-glass {
  fill: #7477bf;
}

#dash-header {
  background-color: #fbfbfb;
}

#cancel-settings {
  color: #fff;
  background-color: #b2b2b2;
}

/* Layout */

.grid-layout {
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  grid-template-areas:
    "header"
    "content";
}

.flex-title,
#main-header,
#main-content > header {
  display: flex;
}

.flex-switch,
.flex-buttons {
  display: flex;
  align-items: center;
}

.flex-switch {
  width: 300px;
}

.flex-switch label:nth-child(-1n + 1),
.flex-buttons label:nth-child(-1n + 1) {
  margin: 20px 20px 25px 0;
}

#timezones {
  margin-top: 25px;
  margin-bottom: 15px;
}

#save-settings,
#cancel-settings {
  margin-top: 20px;
  flex: 1;
}

#save-settings {
  margin-right: 10px;
}

#cancel-settings {
  margin-left: 10px;
}

#dash-header {
  flex-direction: column;
  padding: 0 10px 20px;
  border-bottom: 1px solid #c4c4c4;
}

.search-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  height: 48px;
}

.flex-title {
  flex-direction: column;
}

.flex-title button {
  color: #9a9a9a;
  background-color: transparent;
  padding: 7px 12px;
  border: none;
  outline: none;
  border-radius: 30px;
}

.flex-title .select-button-active {
  color: #fff;
  background-color: #81c98f;
}

.flex-title .select-buttons-container {
  padding: 10px 0 20px;
}

#notifications {
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: none;
}

.search-container svg {
  height: 100%;
}

#notification-container {
  margin: 10px;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #7377bf;
  color: #fff;
  display: flex;
  flex-direction: row;
}

#notification-container p {
  margin: 0;
  font-size: 14px;
}

#close-notification {
  margin-left: auto;
}

#close-notification svg g {
  fill: #fff;
}

#notification-container p > span {
  margin-right: 5px;
  font-weight: 700;
}

#close-notification svg {
  height: 15px;
}

textarea {
  resize: none;
  height: 150px;
}

.dropdown,
.autocomplete-container,
.full-card select,
.full-card textarea,
.full-card input[type="search"] {
  border: 1px solid #ddd;
  color: #333;
  border-radius: 6px;
  background-color: #fbfbfb;
  padding: 15px;
  width: 100%;
  outline: none;
}

.autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}

.autocomplete-items {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  background-color: #fff;
}

.autocomplete-container {
  padding: 0;
  display: none;
  max-height: 197px;
  overflow: auto;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items:hover {
  background-color: #e9e9e9;
}

.full-card select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M18.295 9.705l-1.41-1.41-4.59 4.58-4.59-4.58-1.41 1.41 6 6z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
}

#dash-search::placeholder,
.full-card select::placeholder,
.full-card textarea::placeholder,
.full-card input[type="search"]::placeholder {
  color: #b5b5b5;
}

.full-card textarea,
.autocomplete {
  margin-bottom: 17px;
}

.dropdown a,
.full-card option {
  color: #333;
}

#send-message {
  width: 100%;
}

#cancel-settings,
#save-settings,
#send-message {
  padding: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-out;
}

#save-settings,
#send-message {
  background-color: #7477bf;
  color: #fff;
}

#cancel-settings,
#save-settings,
#send-message:hover {
  cursor: pointer;
}

#save-settings:active,
#send-message:active {
  background-color: #696bac;
}

#dash-search {
  width: 100%;
  border: none;
  outline: none;
  flex: 1;
}

#main-header {
  padding: 0 20px;
  align-items: center;
}

#main-header #alerts-container {
  margin-left: auto;
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  min-width: 240px;
  max-height: 301px;
  right: -50px;
  padding: 0 10px;
  z-index: 2000;
  overflow: auto;
}

.dropdown a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown a > img {
  max-height: 20px;
  border-radius: 20px;
  margin-right: 10px;
}

.vdivider {
  border-left: 1px solid #4d4c72;
  height: 40px;
  margin: 0 10px;
}

#main-sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
}

#main-sidebar nav {
  width: 100%;
  height: 100%;
}

#main-sidebar nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  height: 100%;
  display: flex;
  align-items: center;
}

#main-content {
  height: calc(100% + 75px);
}

.full-card {
  padding: 10px;
}

.stats-container {
  display: flex;
  flex-direction: column;
}

.stats-container p,
.stats-container h4 {
  margin: 0;
}

.stats-container h4 {
  color: #7377bf;
  font-size: 18px;
}

.stats-container p {
  font-size: 45px;
  font-weight: 200;
}

.social-icon {
  width: 53px;
  height: 53px;
  margin: auto 0;
  background-color: #7377bf;
  padding: 10px;
  border-radius: 40px;
}

.social-icon svg {
  margin: auto;
  height: 30px;
}

.stats-container path {
  fill: #fff;
}
.social-stat {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-column-gap: 10px;
  padding: 20px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  background-color: #fbfbfb;
  margin-bottom: 10px;
}

#profile {
  padding: 0;
  border: none;
  outline: none;
}

.user-name {
  display: none;
}

.double-card {
  border: 2px solid #c4c4c4;
  border-left: none;
  border-right: none;
}

.double-card:nth-child(6) {
  border-top: none;
}

.card-divider {
  border-bottom: 1px solid #c4c4c4;
  width: 100%;
}

.recent-activity,
.new-members {
  padding: 0;
  list-style: none;
}

.recent-activity li,
.new-members li {
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  display: grid;
}

.new-members li:last-child,
.recent-activity li:last-child {
  border-bottom: none;
}

.new-members li {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "name"
    "time"
    "email";
}

.recent-activity li {
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "name more"
    "time more";
}

/* Switch */

.switch {
  margin-left: auto;
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border-radius: 20px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider,
.slider:before {
  border: 2px solid #ddd;
}

.slider:after {
  position: absolute;
  content: "ON";
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  left: 10px;
  bottom: 6px;
  display: none;
}

.slider:before {
  border-radius: 20px;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: #7377bf;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #7377bf;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(53px);
  -ms-transform: translateX(53px);
  transform: translateX(53px);
}

.switch input:checked + .slider:after {
  display: block;
}

/* Switch ^ */

.recent-activity li > img,
.new-members li > img {
  display: none;
  max-width: 100%;
  border-radius: 100%;
  grid-area: image;
}

.recent-activity li > p,
.new-members li > p {
  margin: 0;
  grid-area: name;
  padding-bottom: 6px;
}

.recent-activity li > span,
.new-members li > span {
  grid-area: time;
  font-size: 14px;
}

.recent-activity li > svg {
  grid-area: more;
  height: 45px;
  margin: auto 0;
}

.recent-activity li > a,
.new-members li > a {
  grid-area: email;
}

.notification-list {
  margin: 0;
}

.notification-list li {
  grid-template-rows: auto;
  padding: 10px;
}

.notification-list li > span {
  display: none;
}

/* Images and SVGs */

#notifications svg {
  height: 20px;
}

#profile img {
  height: 50px;
  border-radius: 32px;
}

#main-sidebar svg {
  height: 40px;
}

/* Transitions and animations */

#notifications {
  transition: transform 0.2s cubic-bezier(0.53, 0.49, 0.6, 1.54);
}

#notifications:hover {
  transform: rotate(-20deg);
}

/* Media queries */

@media (min-width: 500px) {
  #dash-header {
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  #dash-header > h2 {
    margin: 0px;
    padding: 20px;
    background-color: #fff;
    margin-bottom: -1px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #c4c4c4;
  }

  .vdivider {
    border-left: 1px solid #4d4c72;
    height: 40px;
    margin: 0 10px;
  }

  .search-container {
    width: 300px;
    margin-left: auto;
    margin-right: 10px;
  }

  .dropdown {
    min-width: 300px;
    right: 0;
  }

  .snackbar {
    width: max-content;
  }

  .flex-title {
    flex-direction: row;
    justify-content: space-between;
  }

  .recent-activity li > img,
  .new-members li > img {
    display: block;
  }

  .recent-activity li {
    grid-template-columns: 45px 1fr auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "image name more"
      "image time more";
  }

  .new-members li {
    grid-template-columns: 45px 1fr auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "image name time"
      "image email .";
  }

  .recent-activity li > span,
  .recent-activity li > p,
  .new-members li > a,
  .new-members li > p {
    padding-bottom: 2px;
    padding-left: 9px;
  }
}

@media (min-width: 768px) {
  .grid-layout {
    grid-template-columns: 70px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas:
      "header header"
      "sidebar content";
  }

  .user-name {
    display: inline;
    margin-left: 10px;
    color: #fff;
  }

  .dropdown {
    min-width: 350px;
    padding: 10px;
    min-height: 311px;
  }

  .notifications-list li > span {
    display: inline;
  }

  .snackbar {
    bottom: 60px;
  }

  #main-sidebar {
    position: relative;
    padding: 10px;
    text-align: center;
    height: 100%;
    width: 100%;
  }

  #main-sidebar a {
    margin-top: 40px;
  }

  .nav-link {
    height: 45px;
  }

  #main-content {
    height: auto;
  }

  .wrapper {
    padding: 10px;
  }

  .double-card {
    border: 1px solid #c4c4c4;
    border-left: none;
    border-right: none;
  }

  #profile {
    padding: 0 8px 0 2px;
  }

  #main-sidebar nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  #main-sidebar svg {
    height: 30px;
  }

  .nav-link-active:after {
    height: 75px;
    width: 22px;
    bottom: auto;
    left: -17px;
  }
}

@media (min-width: 900px) {
  .stats-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
  }

  .social-stat {
    width: 100%;
  }

}

@media (min-width: 1024px) {
  .wrapper {
    padding: 0;
    width: 954px;
    margin: 0 auto;
  }

  .full-card {
    padding: 20px;
    align-self: center;
    flex: 1;
  }

  .double-card {
    display: flex;
  }

  .card-divider {
    border-bottom: none;
    width: 0;
    border-right: 1px solid #c4c4c4;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 1130px;
  }
}
